@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: #2b2a27;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: 0px;
}
body:-webkit-scrollbar() {
    width: 0px;
}
/* Navbar */
.navbar {
    background-color: #2b2a27; /* Dark charcoal */
    align-items: center;
    position: sticky;
    color: #ffffff; /* White text */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 2px solid transparent;
    box-shadow: 0px 0px 5px 0px rgba(112, 128, 144, 0.3); /* Slate gray shadow */
    border-radius: 12px;
    z-index: 1000;
}
.navbarcontainer {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: #ffffff; /* White links */
    padding: 10px;
}
.navbar a:hover {
    border-radius: 4px;
    transition:
        background-color 0.5s ease,
        color 0.5s ease;
    color: #000000; /* Black text on hover */
    background-color: #007bff; /* Electric blue on hover */
}
.header {
    font-size: 30px;
    color: #ffffff; /* White */
    font-weight: 600;
    font-family: monospace;
    padding: 10px 20px;
}
.links {
    font-family: "Poppins", monospace;
    font-size: 12px;
}
.navbar li {
    margin: 15px;
}
.navbutton {
    border-radius: 10px;
    background-color: #2b2a27; /* Dark Charcoal */
    color: #ffffff; /* White */
    border: none; /* Electric Blue border */
    padding: 10px 20px;
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navbutton:hover {
    border-radius: 4px;
    transition:
        background-color 0.5s ease,
        color 0.5s ease;
    color: #ffffff; /* White text */
    background-color: #007bff; /* Electric Blue hover */
}

/* Main Content */
.content {
    margin: 15px;
    grid-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    position: relative;
    z-index: 1;
}
.item {
    box-shadow: 0px 0px 5px 0px rgba(112, 128, 144, 0.5); /* Slate gray shadow */
    border-radius: 12px;
    overflow: hidden;
    break-inside: avoid-column;
    margin-bottom: 15px;
    display: block;
    background-color: #1c1c1c; /* Dark Charcoal background */
    position: relative;
    z-index: 1;
}
.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: block;
    transition: transform 0.3s ease;
    line-height: 0;
}
.photo img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: transform 0.3s ease;
}
.name {
    position: absolute;
    bottom: -100%;
    left: 0px;
    right: 0;
    padding: 20px 10px 15px;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    transition: bottom 0.3s ease;
}
.name a {
    color: white; /* Neon Green */
    font-size: 12px;
    font-family: Poppins;
    letter-spacing: 0.5px;
}
.photo:hover img {
    transform: scale(1.1);
}
.item:hover .name {
    bottom: 0;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1001;
}
.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #2b2a27; /* Dark Charcoal */
    min-width: 160px;
    border-bottom: 2px solid transparent;
    box-shadow: 0px 0px 5px 0px rgba(112, 128, 144, 0.3); /* Slate gray shadow */
    z-index: 1002;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    margin-top: 2px;
}
.dropdowncontent a {
    color: #ffffff; /* White text */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdowncontent a:hover {
    background-color: #007bff; /* Electric Blue hover */
    color: #000000; /* Black text on hover */
    border-radius: 6px;
    transition: all 0.4s ease;
}
.dropdown:hover .dropdowncontent {
    visibility: visible;
    display: block;
    right: -40%;
    border-radius: 6px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s ease;
    z-index: 1002;
    margin: 4px;
}
.dropdown-textbox:focus {
    outline: none;
    border-color: #007bff; /* Electric blue border on focus */
}

/* Textbox */
.textar {
    position: relative;
}
.keywordscontent {
    display: none;
    position: absolute;
    background-color: #2b2a27; /* Dark Charcoal */
    min-width: 300px;
    height: 40px;
    left: 50%;
    box-shadow: 0px 0px 5px 0px rgba(112, 128, 144, 0.3);
    z-index: 1002;
    transform: translateX(-50%);
    top: 100%;
}
.textar:hover .keywordscontent {
    visibility: visible;
    display: block;
    opacity: 1;
    height: 50px;
    border-radius: 6px;
    box-shadow: 0px 0px 5px 0px rgba(112, 128, 144, 0.3);
    background-color: #2b2a27;
    transform: translateY(0);
    transform: translateX(-50%);
    transition: all 0.4s ease;
    margin-top: 4px;
}

/* Styles for the textbox */
.dropdown-textbox {
    width: 90%;
    padding: 10px 15px;
    border: none;
    background-color: #2b2a27;
    color: white;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(112, 128, 144, 0.3); /* Slate gray shadow */
    height: 40px;
}

.dropdown-textbox::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
}

.dropdown-textbox:focus {
    outline: none;
    background-color: #444;
}

/* Optional: Add a subtle animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        animation: fadeIn 0.3s ease-out;
    }
}
